
@{
    ViewData["Title"] = "PTORequestForm";
}

<div>PTO Request Form</div>

<input id="ptoHours" type="number" min="1" max="80" placeholder="Hours requested" />
<input id="ptoReason" type="text" placeholder="Reason for request..." />

<div>Request will automatically display as "In Process" until it has been reviewed.</div>

<input type="submit" onclick="addRequest()" value="Submit PTO Request"/>
<a onclick="history.back()">&#60; Main Menu</a>

<script>
    function addRequest() {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/PTORequests/AddRequest',
            data: { hours: $("#ptoHours").val(), reason: $("#ptoReason").val() },
            success: function (e) {
                //success message
            }
        });
    }
    
</script>