
@{
    ViewData["Title"] = "PTORequestForm";
}

<div>PTO Request Form</div>

@using (Html.BeginForm("AddRequest", "PTORequests"))
{
    <input type="text" name="" />

    <input type="submit" value="Log In" />
}