@{
    ViewData["Title"] = "Home Page";
}

<!--

Project made with .Net Core 3.1, Entity Framework    

-->
<div class="text-center">
    <h1>LOGIN PAGE</h1>
    <input />
    <div>
    </div>
    <button></button>
</div>